/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Signika Negative', sans-serif;
    
}


@media(max-width: 500px)
{

    body
    {
        max-width: 500px;
    }

    .content
    {
        padding: 30px;
    }
    .content .component-page
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .content .component-page div h1
    {
        font-size: 3em;
        font-weight: 500;
        color: #343740;
        width: 250px;
    }

    .content .component-page div p #logo
    {
        font-size: 2em;
        font-weight: 300;
        text-decoration: none;
        color: #343740;
    }


    .content .component-page .nav-menu-page
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .content .component-page .nav-menu-page p
    {
        margin: 50px 0px;
    }

    .content .component-page .nav-menu-page button
    {
        background: #232325;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: none;
        transition: 0.25s;
        cursor: pointer;
    }

    .content .component-page .nav-menu-page button:hover
    {
        background: #343740;
    }


    .content .component-page .nav-menu-page button a
    {
        text-decoration: none;
        font-weight: bold;
        color: #FFF;
    }

    .container-page .content .images-page img
    {
        position: relative;
        width: 100%;
        height: 100vw;
        z-index: 1;

    }

    .container-page .content .images-page #block1,
    .container-page .content .images-page #block2,
    .container-page .content .images-page #block3
    {
        position: absolute;
        width: 200px;
        height: 300px;
        top: 40%;
        background: #E2D3FE;
        border-radius: 10px;
    }

    .container-page .content .images-page #block2
    {
        background: #FADFA8;
        left: 50%;
    }

    .container-page .content .images-page #block3
    {
        background: #BAE5F5;
        top: 50%;
        left: 30%;
    }
}

